modules/sacm-collection-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:sacm-collection="http://cisecurity.org/yang/sacm-collection" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://cisecurity.org/yang/sacm-collection"><include href="sacm-collection-gdefs.rng"/><start><optional><element name="sacm-collection:collections"><zeroOrMore><element name="sacm-collection:collection"><element name="sacm-collection:collection-id"><data type="int"/></element><interleave><optional><element name="sacm-collection:collection-type"><ref name="sacm-collection___collection-type"/></element></optional><optional><choice><group><element name="sacm-collection:collection-fields"><ref name="sacm-collection___collection-fields"/></element></group><group><element name="sacm-collection:set"><ref name="sacm-collection___set"/></element></group></choice></optional><optional><element name="sacm-collection:filter"><interleave><optional><element name="sacm-collection:filter-action"><choice><value>INCLUDE</value><value>EXCLUDE</value></choice></element></optional><ref name="sacm-collection___filter"/></interleave></element></optional></interleave></element></zeroOrMore></element></optional></start></grammar></interleave></element></start></grammar>
